<div class="container-fluid">
  <form>
    <div class="form-group">
      <input [(ngModel)]="seats" placeholder="Seats" class="form-control" name="seats" required/>
    </div>
    <div class="form-group">
      <input [(ngModel)]="sectionName" placeholder="Name" class="form-control" name="sectionName" required/>
    </div>
    <button (click)="createSection(sectionName, seats)" id="create-section" class="btn btn-primary btn-block">Create Section</button>
  </form>
  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>{{section.name}}</h5>
        <button (click)="deleteSection(section)" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>
        <b>Total seats:</b> {{section.seats}}
      </p>
      <p>
        <b>Seats remaining:</b> {{section.seats - section.enrolled}}
      </p>
      <button (click)="setEditingSection(section)" id="edit-section" data-toggle="modal" data-target="#editSection" class="btn btn-primary btn-block">
        Edit Section
      </button>
    </li>
  </ul>
</div>

<div class="modal fade" id="editSection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input [(ngModel)]="editSeats" placeholder="Seats" class="form-control" name="editSeats" required/>
          </div>
          <div class="form-group">
            <input [(ngModel)]="editSectionName" placeholder="Name" class="form-control" name="editSectionName" required/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="updateSection(sectionName, seats)" data-dismiss="modal" class="btn btn-primary">Update Section</button>
      </div>
    </div>
  </div>
</div>